# Node modules
node_modules/

# Build artifacts
dist/
out/
build/
release/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Electron build cache
app/*.asar

# Test Files
testing/