name: Build & Publish Slippi Stats Desktop

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: .

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Show workspace contents
      run: |
        echo "GITHUB_WORKSPACE: $env:GITHUB_WORKSPACE"
        dir
      shell: powershell
    
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    
    - name: Install dependencies
      run: npm ci
      working-directory: .
    
    - name: Build Vite frontend
      run: npm run build
      working-directory: .
    
    - name: Package Electron app
      run: npm run dist
      working-directory: .

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      with:
        draft: false
        prerelease: false
        files: |
          release/squirrel-windows/*.exe
          release/squirrel-windows/*.nupkg
          release/squirrel-windows/RELEASES

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
